// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: 'APJapanesefont';
  src: font-url('APJapanesefont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// インデックス 
.container{
	width: 1270px;
	background-color: white;
  
  .contents{
  	width: 1270px;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;

    .wrapper{
      height:800px;
      width:1270px;
      background-image: url("https://cdn.pixabay.com/photo/2016/07/20/21/01/amsterdam-1531287_1280.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      
      &:before {
        content: "";
        -webkit-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
      }



    .book-content{
        width: 801px;
        height: 587px;
        background-image: url(book-1210149_1280.png);
        background-repeat: no-repeat;
        background-size: 850px auto;
        position: relative;
        left: 190px;

      .single-box{
        position: relative;
        left: 428px;
        top: 105px;
        height: 370px;
        width: 270px;
        background-color: white;
        background-size:100% 100%;
      }
      .status{
      height: 328px;
      width:210px;
      position:relative;
      left: 205px;
      bottom: 225px;
        ul{
          list-style-type: none;
          li{
            font-family: 'APJapanesefont';
            margin-top: 10px;
            font-size: 20px;
            .mypage{
            position:relative;
            right:76px;
            top:25px;
            text-decoration:none;
          }
        }
        a{
            margin-top: 5px;
        }

      }
    }
  }
}

    .link-show{
        width: 55px;
        height: 33px;
        position: relative;
        left: 745px;
        bottom: 496px;
        font-family: 'APJapanesefont';
        font-size: 27px;
        a{
          text-decoration:none;
          color: white
        }
        a:hover { color: #00ffff; }
      }
} 
}


// new
.book-contents{
    width: 1000px;
    height: 800px;
    background-image: url("https://cdn.pixabay.com/photo/2016/02/19/12/30/book-1210149_1280.jpg");
    background-repeat:no-repeat;
    background-size: 980px auto;
    margin: auto;
    .contents.row{
      position: relative;
      left: 148px;
      top: 96px;
      width: 679px;
      height: 473px;
      form{
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          align-items: center;
          position: relative;
          left: 157px;
          top: 35px;
         a{
          position: relative;
          right: 295px;
          top: 20px;
          font-family: 'APJapanesefont';
          font-size: 25px;

         }
        input{
          // border:none;
          background-color:transparent;
          border-radius: 1em;
          font-size: 20px;
          border: 1px solid;
          outline: 0;
          position:relative;
          bottom: 17px;
          &:last-child {
             margin-top: 20px;
             box-shadow: 2px 2px 3px 1px #666;



           }
        }

        select{
          background-color: transparent;
          position:relative;
          bottom:10px;
          option{
          }
        }

        textarea{
          // border:none;
          background-color:transparent;
          border-radius: 1em;
          border: 1px solid;
          outline: 0;
          // background-color:blue;
        }
      }
    }

}



// book-show
.content-box{
  width: 1270px;

  .middle-box{
      margin: auto;
      background-image: url("https://cdn.pixabay.com/photo/2016/07/20/21/01/amsterdam-1531287_1280.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height:895px;
    .show-box{
        height: 237px;
        width: 165px;
        background-repeat: no-repeat;
        background-size: 165px auto;
        margin: auto;
        position: relative;
        top: 30px;
        border: double 5px white;
  }
    .book-box{
    height: 500px;
    width:750px;
    background-image: url("book-1210149_1280.png");
    background-repeat:no-repeat;
    background-size: 750px auto;
    margin: auto;
    position: relative;
    bottom:10px;

      .status-box{
        width:190px;
        height:320px;
        position:relative;
        left: 174px;
        top: 115px;
        ul{
          
          li{
            font-family: 'APJapanesefont';
            font-size:20px;
            margin-top:19px;
            margin-bottom: 3px;
           a{

          }
          }
            
          }
        }
      .text-box{
        width:100px;
        position:relative;
        left: 472px;
        bottom: 208px;
        font-family: 'APJapanesefont';
        font-size: 20px;
      }

      p{
        width: 195px;
        position:relative;
        left: 400px;
        bottom: 204px;
        font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
      }
      }
  }
  }


// 投稿


// more-list show画面
.show-list{
  height: 24px;
  width: 180px;
  position: relative;
  left: 685px;
  bottom: 243px;
  ul{
    display: flex;
    list-style: none;
    li{
      display: inline-block;
      a{
        display: flex;
        width:88px;
        background-color:transparent;
        text-decoration:none;
        font-family: 'APJapanesefont';
        font-size: 20px;
      }
      a:hover { color: #32cd32; }

    }
  }
}

.review-list{
  position:relative;
  left: 890px;
  bottom: 495px;
  width: 208px;
  ul{

    li{

      a{
        background-color:white;
        background-color:transparent;
        font-family: 'APJapanesefont';
        font-size: 20px;
        text-decoration:none;
        color:white
      }
    }
  }
}

