

@font-face {
  font-family: 'Talisman';
  src: font-url('TalismanFree.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





.header__bar.row{
  height:300px;
  .grid-6{
  height:241px;
  
  p{
    font-family: 'Talisman';
    color: #c5a05a;
    font-size: 75px;
    text-align: center;
    position: relative;
    top:55px;
  }
}
}
.grid-6{
  height:241px;
  
  p{
    font-family: 'Talisman';
    color: #c5a05a;
    font-size: 75px;
    text-align: center;
    position: relative;
    top:55px;
  }
}

.single_a{
  position:relative;
  top:22px;
  right: 76px;
}
