// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// index view
.reviews-index {
  width: 1270px;
  .reviews-box{
    height:1000px;
    width:1270px;
    background-image: url("https://cdn.pixabay.com/photo/2016/07/20/21/01/amsterdam-1531287_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: center;

    .sample{
      padding-top: 1px;
      .reviews-contents{
        background-color: white;
        height:150px;
        width:350px;
        margin: auto;
        margin-top: 75px;
        border-style: groove;
        border-style:solid;
        border-color: #7fffff;
        border-radius: 2em; 
      }
    }   
  }
}

// new view
.post-content{
  width: 801px;
  height: 587px;
  background-image: url(book-1210149_1280.png);
  background-repeat: no-repeat;
  background-size: 850px auto;
  position: relative;
  left: 190px;
  form{
    width: 222px;
    height: 274px;
    position: relative;
    left: 455px;
    top: 151px;
   .evaluation{

    #review_rate{
      background-color:transparent;
      border-style: ridge;
      border-color: white;
    }

  .review-post{
    #review_text{
      background-color:transparent;
      border-style: ridge;
      border-color: white;
    }
   }
  }
}
}
